@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center mt-4">
    <h1 class="display-4">Chào mừng đến với Web Bán Acc!</h1>
    <p class="lead">Tại đây bạn có thể mua acc game giá rẻ, chất lượng.</p>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-3">
        <div class="card">
            <img src="https://symbols.vn/wp-content/uploads/2022/04/Tang-Anh-ACC-Lien-Quan-Moi-nhat.jpg" class="card-img-top acc-img" alt="acc1" width="400">
            <div class="card-body">
                <h5 class="card-title">Acc Liên Quân</h5>
                <p class="card-text">Giá: 100.000đ</p>
                <button class="btn btn-primary mua-btn">Mua ngay</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://th.bing.com/th/id/R.0b5baeaa7d3aac0648e884907f39bb1f?rik=xGiQXdy%2bZMx8BA&pid=ImgRaw&r=0" class="card-img-top acc-img" alt="acc2" width="400">
            <div class="card-body">
                <h5 class="card-title">Acc Free Fire</h5>
                <p class="card-text">Giá: 120.000đ</p>
                <button class="btn btn-primary mua-btn">Mua ngay</button>
            </div>
        </div>
    </div>
</div>

<!-- Popup phóng to ảnh -->
<div id="img-popup" class="popup-img">
    <span class="close-btn">&times;</span>
    <img id="popup-img" src="" alt="acc to">
</div>